<section class="book">
    <h2>${title}</h2>
    <ul class="gallery">
        <li class="photo"><img src="https://loremflickr.com//g/320/240/evil?random=1"></li>
        <li class="photo"><img src="https://loremflickr.com//g/320/240/evil?random=2"></li>
        <li class="photo"><img src="https://loremflickr.com//g/320/240/evil?random=3"></li>
        <li class="photo"><img src="https://loremflickr.com//g/320/240/evil?random=4"></li>
        <li class="photo"><img src="https://loremflickr.com//g/320/240/evil?random=5"></li>
        <li class="photo"><img src="https://loremflickr.com//g/320/240/evil?random=6"></li>
    </ul>
</section>